@model Vidly.ViewModel.MovieViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Title</h2>


@using (Html.BeginForm("Save", "Movie"))
{

    @Html.ValidationSummary(true, "Please fill up requirements.")

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <p></p>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleasedDate)
        @Html.TextBoxFor(m => m.ReleasedDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleasedDate)
    </div>
    <p></p>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "GenreId", "GenreName"), "Select Genre Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <p></p>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfStock)
        @Html.TextBoxFor(m => m.NumberOfStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberOfStock)
    </div>
    @Html.HiddenFor(m => m.ID)
    @Html.AntiForgeryToken()
    <p></p>
    <button type="submit" class="btn btn-primary"> Save </button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}